<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./vue.js"></script>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="(menu, index) in menus" :key="index">{{menu}}{{index}} với chỉ số index là: {{index}}</li>
      </ul>
      <ul>
        <button @click="menus.push('Menu')">Click add menu</button>
        <li v-for="student in students">
          <div v-for="(stu, key, index) in student">{{index}}-{{key}}: {{stu}}</div>
        </li>
      </ul>
      
    </div>
  </body>
  <script>
    new Vue({
      el: "#app",
      data: {
       menus: ['Menu', 'Menu', 'Menu'],
       students: [
         {
           name: 'A',
           age: 20,
         },
         {
           name: 'B',
           age: 22,
         },
         {
           name: 'C',
           age: 22,
         },
       ]
      },
      methods: {
      },
    });
  </script>
</html>
